extends base.pug

mixin category_rating(category_data)
    div(class='input-group mb-3')
        button(
            class='btn btn-light plus'
            style={'border': '1px solid lightgray'}
            type='button'
        )= '+'
        button(
            class='btn btn-light minus'
            style={'border': '1px solid lightgray'}
            type='button'
        )= '-'
        input(
            style={'background-color': 'white'}
            type='number'
            readonly='readonly'
            name=category_data.name
            class='form-control text-center category'
            value=0
        )
        span(class="input-group-text")= category_data.title


block head 
    title= title

block content 
    div(class='text-center m-5')
        form(
            style={
                'max-width': '600px',
                'margin': 'auto'
            }
            action='/result'
            method='POST'
            id='main_form'
        )
            h1(class='h4 mb-4')= 'דרגו את הקטגוריות על פי שימושכם'
            h1(
                class='h6 mb-4'
                id='title'
            )= 'נותרו 8 נקודות'
            +category_rating({
                name: 'gaming',
                title: 'גיימינג'
            })
            +category_rating({
                name: 'study',
                title: 'לימודים'
            })
            +category_rating({
                name: 'design',
                title: 'עיצוב גרפי'
            })
            +category_rating({
                name: 'dev',
                title: 'תיכנות'
            })
            button(
                type='submit'
                class='btn btn-lg btn-primary'
            )= 'שלח'
            div(
                class='alert alert-danger mt-3'
                id='form_alert'
                style={'display': 'none'}
            )

block script
    script.
        // score regulation
        let points = 8
        let sum = 0
        let form = document.getElementById('main_form')
        let title = document.getElementById('title')
        let pluses = document.getElementsByClassName('plus')
        let minuses = document.getElementsByClassName('minus')

        // add points
        for (let plus of pluses) {
            let category = plus.parentElement.getElementsByTagName('input')[0]
            plus.onclick = () => {
                if (sum < points){
                    category.value = Number(category.value) + 1
                    sum += 1
                    title.innerText = `נותרו ${points - sum} נקודות`
                }
            }
        }

        // remove points
        for (let minus of minuses) {
            let category = minus.parentElement.getElementsByTagName('input')[0]
            minus.onclick = () => {
                if (category.value > 0){
                    category.value = Number(category.value) - 1
                    sum -= 1
                    title.innerText = `נותרו ${points - sum} נקודות`
                }
            }
        }

        // form submit validation
        form.onsubmit = event => {
            let catgeories = document.getElementsByClassName('category')
            let amount = 0
            for (let category of catgeories){
                if (Number(category.value) == 0){
                    amount++
                }
            }
            if (catgeories.length == amount){
                event.preventDefault()
                let alert = document.getElementById('form_alert')
                alert.style.display = 'block'
                alert.innerText = 'אנא דרגו לפחות קטגוריה אחת לפני שאתם מגישים'
            }
        }

        //on load stuff...
        document.body.onload = () => {
            //point title
            title.innerText = `נותרו ${points - sum} נקודות`
        }